{% extends 'baseRecrutador.html.twig' %}

{% block title %} Painel Do Recrutador {% endblock %}

{% block body %}
    <main class="col-12 col-lg-9 offset-lg-3 float-right mt-5">
        <div class="col-12 mt-3"><br></div>

        <div class="container">
            <header>
                <h1 class="text-darkblue mt-5">Ranking <i class="fas fa-star ml-2"></i></h1>
                <div class="bg-green w-100" style="height: 2px"></div>
                <p class="mb-5 text-darkblue"><a href="painelRecrutadorIndex.php" class="ml-1 text-decoration-none text-darkgray text-hover-green">Home >> </a>Banco de Talentos</p>
            </header>

            <div class="container">
                <section class="col-12 mx-uto text-center">
                    <form name="form-pesquisa-candidato" method="POST" action="{{ path('recrutador_ranking') }}">
                        <div class="col-11 mx-auto">
                            <select  name="area" class="custom-select border-success mt-4">
                                <option selected>Filtrar pela área</option>
                                {% for area in areas %}
                                <option value="{{ area.id }}">{{ area.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input class="btn bg-green mt-4 text-darkblue px-5 text-darkblue font-weight-bold" type="submit" name="pesquisar" value="Pesquisar">
                </section>

                <hr class="my-5">

                <section>
                    <header>
                        <h3 class="text-darkblue">Resultado por: <b>Todos</b></h3>
                    </header>
                    {% for usuario in usuarios %}
                        {% if usuario == false %}
                        <h2> Nenhum candidato foi encontrado na area selecionada</h2>
                        {% else %}
                    <article class="col-12 col-sm-10 my-5 mx-auto">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <figure class="col-8 mx-auto col-md-6 text-center mt-5">
                                        <img src="/img/bruno2.jpg" style="max-width:300px; height: 200px;" class="rounded-circle" alt="avatar">
                                    </figure>

                                    <div class="col-12 col-lg-6">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                <b class="mb-2">Nome:</b>
                                                <a href="painelRecrutadorPerfilCandidato.php" class="text-decoration-none"><li class="mb-2 list-group-item text-green">{{ usuario.nome }}</li></a>

                                                <b class="mb-2">Departamento:</b>
                                                <li class="mb-2 list-group-item">{{ usuario.area.nome }}</li>

                                                <b class="mb-2">Pontuação:</b>
                                                <li class="mb-2 list-group-item">{{ usuario.candidato.pontuacao }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </article>
                        {% endif %}
                    {% endfor %}
                </section>
            </div>
        </div>
    </main>
{% endblock %}